* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    background-image: url(../img/backpic.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-color: #9bf1c1;
    font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

h1{
    display: inline-block;
    color: white;
}

.container{
    margin-top:20px;
}

header {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #e7f5d5;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav ul{
    display: inline;
}

nav  ul li{
    display: inline-block;
    float: right;
    margin-right: 30px;
}

nav a{
    color: #333;
    text-decoration: none;
}

nav a:hover{
    color: #333;
    text-decoration: none;
}

nav  ul li .iconfont{
    margin-right: 10px;
}

nav li:hover {
    cursor: pointer;
}

.admin-login{
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(85,80,80,0.7);
    width: 100%;
    z-index: 99;
}

.login-page{
    width: 600px;
    background-color: white;
    border-radius: 10px;
}

.login-form{
    display: block;
    margin: 59px;
}

.login-form label{
    color: black;
}

.search-input{
    display: none;
}

.input-area{
    height: 34px;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.city {
    margin-top: 60px;
}

.picshow {
    height: 300px;
}

.admin{
    height: 300px;
}

.scenicSpot {
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.message {
    text-align: center;
    height: 300px;
    border-radius: 25px;
    border: 5px solid #c1c1c1;
    background-image: url(../img/wall.jpg);
}

.strategyShare {
    width: 100%;
    padding: 0px 30px;
}

.gotop{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 25px;
    height: 50px;
    width: 50px;
    background-image: url(../img/gotop.png);
}


/*轮播图翻页按钮效果*/

.picnumber {
    position: relative;
    bottom: -60px;
    width: 250px;
    margin: 0 auto;
}

.picnumber ul li {
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    background-image: url("../img/yes_image.png");
    border-radius: 50%;
    margin: 0 10px;
}

.picnumber ul li:first-child{
    background-image: url("../img/no_image.png");
}

.choose-1 {
    background-position: 0 0;
}

.choose-2 {
    background-position: -25px 0;
}

.choose-3 {
    background-position: -50px 0;
}

.choose-4 {
    background-position: -75px 0;
}

.picnumber ul li:hover {
    cursor: pointer;
}


/*轮播图*/

.wapper {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    width: 400px;
    height: 180px;
    position: relative;
    top: 75px;
    margin: 0px auto;
}

.rotate {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.pic {
    -webkit-transform-origin: center;
    position: absolute;
    height: 180px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.picOne {
    -webkit-transform: translateX(-200px);
}

.picTwo {
    transform: translateZ(-200px);
}

.picThree {
    transform: translateX(200px);
}

.picFour {
    transform: translateZ(200px);
}

.showpic{
    height: 180px;
    width: 400px;
}

/*右侧信息框*/
.city-message{
    background-color: white;
    height: 100%; 
    border-radius: 10px;
}

/*景点信息控制*/

.scenic-wapper {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.scenic-wapper ul {
    position: relative;
}

.scenic-wapper ul li {
    display: inline-block;
    position: relative;
    float: left;
    height: 280px;
    margin-top:10px; 
    border-radius: 5px;
    background-image: url(../img/fuzhou.jpg);
    background-size: 100% 100%;
    color:white;
    background-color: white;
}

.scenic-wapper ul li h1{
    color: #b299ff;
}

.scenic-choose {
    position: relative;
    top: -45px;
    left: 56px;
}

.scenic-choose ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    text-align: center;
    background-color: #9a9a9a;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
}

.scenic-choose ul li:first-child{
    background-color: #3ac3e2;
}

.spot{
    height: 80%;
    width: 80%;
    margin: 10px auto;
}

.weather{
    height: 80px;
    text-align: center;
}

.weather-pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(../img/weather.png);
}

.spotname{
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.bus{
    display: inline-block;
    width: 60px;
    text-align: center;
    border:.5px solid #a2a2a2;
    background-color: #41ffb0;
    border-radius: 3px;
}

.recommend-message{
    display: inline-block;
    border:.5px solid #a2a2a2;
    background-color: #41ffb0;
    border-radius: 3px;
}

.sunny{
    background-position: -160px 0;
}

.bigRain{
    background-position: -160px -80px;
}

.thunderstorm{
    background-position: 0 0;
}

.cloudy{
    background-position: 0 -80px;
}
/*留言墙模块*/

.show-message {
    width: 100%;
    height: 165px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.wallmessage {
    position: relative;
    display: inline-block;
    transform-origin: center;
    transform: translateX(-350px);
}

.insert-message {
    margin-top: 5px;
}

.form-control {
    width: 100%!important;
}

@keyframes rollin {
    0% {
        transform: translateX(-350px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(350px);
    }
}


/*攻略模块*/

.strategybox {
    height: 250px;
    margin-top: 15px;
}

.strategyShare button {
    position: relative;
    bottom: 5px;
    left: 5px;
}

.strategyShare a {
    color: white;
    text-decoration: none;
}

.strategy {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    border: .5px solid rgba(200, 200, 200, 1);
}

.strategy img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
}

.strategy-contant {
    display: none;
}

.strategy span {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.introduce {
    height: 40px;
}

label{
    color: white;
}

.showstrategy{
    background-color: rgba(255,255,255,0.7);
}
/*脚注部分*/
.declaration{
    text-align: center;
    color: white;
}