* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    background-image: url(../img/backpic.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-color: #9bf1c1;
    font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container{
    margin-top:20px;
}

header {
    height: 50px;
    width: 100%;
    background-color: #e7f5d5;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 99;
}

.city {
    margin-left: 50px;
    margin-top: 60px;
}

.picshow {
    height: 300px;
    /*background-color: red;*/
}

.admin{
    height: 300px;
    /*border-radius: 10px;*/
    /*background-color: white;*/
}

.scenicSpot {
    height: 300px;
    overflow: hidden;
    /*background-color: blue;*/
    border-radius: 5px;
}

.message {
    height: 300px;
    border-radius: 25px;
    border: 5px solid #c1c1c1;
    background-image: url(../img/wall.jpg);
}

.strategyShare {
    width: 100%;
    background-color: #f5f5f5;
    padding: 0px 30px;
    border: 2px solid #c1c1c1;
    border-radius: 10px;
}

.sidenav {
    width: 200px;
    position: fixed;
    left: -150px;
    top: 50px;
    background-image: url(../img/guidepost.png);
    background-repeat: repeat;
}


/*轮播图翻页按钮效果*/

.picnumber {
    position: relative;
    bottom: -60px;
    width: 250px;
    margin: 0 auto;
}

.picnumber ul li {
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    background-image: url("../img/yes_image.png");
    border-radius: 50%;
    margin: 0 10px;
}

.picnumber ul li:first-child{
    background-image: url("../img/no_image.png");
}

.choose-1 {
    background-position: 0 0;
}

.choose-2 {
    background-position: -25px 0;
}

.choose-3 {
    background-position: -50px 0;
}

.choose-4 {
    background-position: -75px 0;
}

.picnumber ul li:hover {
    cursor: pointer;
}


/*轮播图*/

.wapper {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    width: 400px;
    height: 180px;
    position: relative;
    top: 75px;
    margin: 0px auto;
}

.rotate {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.pic {
    -webkit-transform-origin: center;
    position: absolute;
    height: 180px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.picOne {
    -webkit-transform: translateX(-200px);
}

.picTwo {
    transform: translateZ(-200px);
}

.picThree {
    transform: translateX(200px);
}

.picFour {
    transform: translateZ(200px);
}

.showpic{
    height: 180px;
    width: 400px;
}

/*登录信息框*/
.admin-message{
    /*margin: 30px;*/
    background-color: white;
    height: 140px;
    margin-bottom: 10px; 
    border-radius: 10px;
}

.login-contant{
    margin: 10px;
}

.admin-logo{
    display: inline-block;
    margin: 10px;
    width: 70px;
    height: 70px;
}

.welcomeword{
    display: inline-block;
    margin-top: 10px;
}

.welcomeword span{
    display: block;
    margin-bottom:10px; 
}

.login button{
    margin-left: 30px;
    width: 70px;
}

.advertisement{
    height: 150px;
    border:3px solid #c1c1c1;
    border-radius: 10px;
    background-color: white;
}

/*景点信息控制*/

.scenic-wapper {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.scenic-wapper ul {
    position: relative;
}

.scenic-wapper ul li {
    display: inline-block;
    position: relative;
    float: left;
    height: 280px;
    margin-top:10px; 
    border-radius: 5px;
    background-image: url(../img/fuzhou.jpg);
    background-size: 100% 100%;
    color:white;
    background-color: white;
}

.scenic-wapper ul li h1{
    color: #b299ff;
}

.scenic-choose {
    position: relative;
    top: -45px;
    left: 56px;
}

.scenic-choose ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    text-align: center;
    background-color: #9a9a9a;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
}

.scenic-choose ul li:first-child{
    background-color: #3ac3e2;
}

.spot{
    height: 80%;
    width: 80%;
    margin: 10px auto;
}

.weather{
    height: 80px;
    text-align: center;
}

.weather-pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(../img/weather.png);
}

.spotname{
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.bus{
    display: inline-block;
    border:.5px solid #a2a2a2;
    background-color: #41ffb0;
    border-radius: 3px;
}

.recommend-message{
    display: inline-block;
    border:.5px solid #a2a2a2;
    background-color: #41ffb0;
    border-radius: 3px;
}

.sunny{
    background-position: -160px 0;
}

.bigRain{
    background-position: -160px -80px;
}

.thunderstorm{
    background-position: 0 0;
}

.cloudy{
    background-position: 0 -80px;
}
/*留言墙模块*/

.show-message {
    width: 100%;
    height: 240px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.wallmessage {
    position: relative;
    transform-origin: center;
    transform: translateX(-350px);
}

.insert-message {
    margin-top: 5px;
}

.form-control {
    width: 100%!important;
}

@keyframes rollin {
    0% {
        transform: translateX(-350px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(350px);
    }
}


/*攻略模块*/

.strategybox {
    height: 250px;
    margin-top: 15px;
}

.strategyShare button {
    position: relative;
    bottom: 5px;
    left: 5px;
}

.strategyShare a {
    color: white;
    text-decoration: none;
}

.strategy {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    /*height: 250px;*/
    border: .5px solid rgba(200, 200, 200, 1);
    background-color: white;
}

.strategy img {
    width: 100%;
    height: 150px;
    margin: 10px 0;
}

.strategy-contant {
    display: none;
}

.strategy span {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.introduce {
    height: 40px;
}

label{
    color: white;
}